.meal-wrapper{
    display: flex;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.meal-main-wrapper{
    display: flex;
    justify-content: center;
}
.meal-title{
    font-weight: bold;
    font-size: 18px;
}
.meal-wrapper img{
    width: 200px;
    height: 200px;
    justify-self: center;
    align-self: center;
    border-radius: 10px;
}
.meal-desc{
    font-size: 14px;
    color: #858585;
}
.letters-wrapper{
    display: flex;
    gap: 10px;
}